* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

#pages {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#page {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Login Page */

#loginPage {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#loginFormArea {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

#loginTitle {
  font-size: 200%;
  font-weight: 100;
  color: #fff;
}

#usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
  font-weight: 100;
  color: #fff;
}

#passwordInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}

#roomInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}

/* Chat page */

#chatPage {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Settings page */

#settingsPage {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#settingsArea {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
}

/* Font */

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}

/* Chat area */

#chatArea {
  position: absolute;
  height: 92%;
  width: 85%;
}

#messages {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  font-size: 150%;
}

.message {
  overflow: auto;
}

.typing {
  color: gray;
  overflow: auto;
}

.username {
  font-weight: 700;
  padding-right: 15px;
  text-align: right;
}

/* Input */

#inputMessage {
  font-size: 100%;
  bottom: 0;
  height: auto;
  left: 0.5%;
  outline: none;
  border: 1px solid #40444b;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 84.5%;
  overflow-y: auto;
  resize: none;
  border-radius: 8px;
  max-height: 144px;
}

#inputMessage::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#inputMessage::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#inputMessage::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #555;
}

#messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#messages::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#messages::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #555;
}

/* User List */

#userList {
  border-left: 3px solid #40444b;
  bottom: 0;
  height: 100%;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 14.5%;
  top: 0px;
}

/* Users in user list */
.user {
  overflow: auto;
  display: list-item;
  padding-top: 5px;
  padding-bottom: 5px;
}

.messageBody p {
  display: inline;
}

#notificationBell {
  margin: 10px;
  position: absolute;
  top: 0px;
  right: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.settingsIcon {
  margin: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#typingMessageArea {
  bottom: 5%;
  height: 5%;
  position: absolute;
  width: 84.5%;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px 20px 10px 20px;
  font-size: 150%;
}
