* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .title {
  font-size: 200%;
  font-weight: 100;
  color: #fff;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
  font-weight: 100;
  color: #fff;
}

.login.page .form .passwordInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}

.login.page .form .roomInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;

  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Settings page */

.settings.page {
  display: none;
}

.settingsArea {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
}

/* Font */

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}

/* Messages */

.chatArea {
  position: absolute;
  height: 93%;
  width: 85%
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  font-size: 150%;
}

.message {
  overflow: auto;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  font-size: 100%;
  bottom: 0;
  height: auto;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 85%;
  overflow-y: auto;
  resize: none;
}

/* User List */

.userList {
  border-left: 3px solid #0400ff;
  bottom: 0;
  height: 100%;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 15%;
  top: 0px;
}

/* Users in user list */
.user {
  overflow: auto;
  display: list-item;
  padding-top: 5px;
  padding-bottom: 5px;
}

.messageBody p {
  display: inline;
}

.notificationBell {
  position: absolute;
  top: 0px;
  right: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.settingsIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.custom-control.custom-switch {
  width: fit-content;
}
