*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.light {
  --header-primary: #060607;
  --header-secondary: #4f5660;
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-link: #0067e0;
  --channels-default: #6a7480;
  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #060607;
  --interactive-muted: #c7ccd1;
  --background-primary: #fff;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #ebedef;
  --background-tertiary: #e3e5e8;
  --background-accent: #747f8d;
  --background-floating: #fff;
}

.dark {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
}

.custom {}

body .light, .light {
  background-color: var(--background-primary);
  color: var(--header-primary);
}

body .dark, .dark {
  background-color: var(--background-primary);
  color: var(--header-primary);
}

body .custom, .custom {
  background-color: var(--background-primary);
  color: var(--header-primary);
}

/* Themed custom scrollbars */
.lightThemeScrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}
.lightThemeScrollbar::-webkit-scrollbar
{
  width: 12px;
  border-radius: 10px;
  background-color: #fff;
}

.lightThemeScrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}

.darkThemeScrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #555;
}
.darkThemeScrollbar::-webkit-scrollbar
{
  width: 12px;
  border-radius: 10px;
  background-color: #555;
}

.darkThemeScrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #202225;
}

blockquote {
  padding-left: 15px;
  border-left: 4px solid #4f545c;
}

a {
  text-decoration: none;
  color: var(--text-link)
}

a:hover {
  text-decoration: underline;
  color: var(--text-link)
}
