/* Chat Screen */

/* Start with a mobile-first design */
#Chat-Screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  /* Use minmax(0, 1fr) instead of 1fr so that elements can be prevented from overflowing their grid areas. Refer to https://stackoverflow.com/a/52787826/8584806 */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area";
}

#Server-List-Area {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 84%;
  width: 50%;
  left: 0;
  bottom: 0;
  transition: all 0.2s linear 0s;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
  border-right: 3px solid #40444b;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  --original-state: hidden;
}

#User-List {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 84%;
  width: 50%;
  right: 0;
  bottom: 0;
  transition: all 0.2s linear 0s;
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
  border-left: 3px solid #40444b;
  padding-left: 10px;
  --original-state: hidden;
}

/* Then, now that we have more screen space, take advantage of it */
@media screen and (min-width: 677px) {
  #Chat-Screen {
    display: none;
    width: 100%;
    height: 100%;
    /* Use minmax(0, 1fr) instead of 1fr so that elements can be prevented from overflowing their grid areas. Refer to https://stackoverflow.com/a/52787826/8584806 */
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1px 1px;
    grid-template-areas:
      "Server-List-Area Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List";
  }

  #Server-List-Area {
    grid-area: Server-List-Area;
    display: flex;
    flex-direction: column;
    position: initial;
    height: 100%;
    width: 100%;
    transform: none;
    opacity: 1;
    border-right: 3px solid #40444b;
    padding-left: 10px;
    padding-top: 10px;
    --original-state: shown;
  }

  #User-List {
    grid-area: User-List;
    display: flex;
    flex-direction: column;
    position: initial;
    height: 100%;
    width: 100%;
    transform: none;
    opacity: 1;
    border-left: 3px solid #40444b;
    padding-left: 10px;
    --original-state: shown;
  }
}

#Top-Bar {
  grid-area: Top-Bar;
  display: flex;
  padding: 1%;
}

#Bottom-Area {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}

#Chat-Area {
  grid-area: Chat-Area;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#Message-Box-Area {
  display: flex;
  height: auto;
  width: 100%;
}

#Message-Box {
  flex: 1;
  height: auto;
  min-height: 3em;
  max-height: 6em;
  outline: none;
  font-size: 100%;
  border: 1px solid #40444b;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
  resize: none;
  border-radius: 8px;
  line-height: normal;
}

#User-Is-Typing-Area {
  display: flex;
  padding-left: 10px;
  font-size: 150%;
}

#userListContents {
  overflow: auto;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

#messages {
  flex-grow: 1;
  list-style: none;
  width: 100%;
  height: fit-content;
  max-height: 80%;
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  font-size: 150%;
}

/* The server list ul */
#Server-List {
  list-style: none;
  overflow: auto;
  padding-left: 0;
  margin-bottom: 0;
}

/* Selecting the server li's inside the server list ul */
#Server-List li {
  display: relative;
  padding-bottom: 1em;
}

/* A server icon of a server in the server list */
.serverIconInServerList {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

/* The input bar to add new servers */
#Add-Server-Name-Input {
  height: 20px;
  width: 80%;
  border-radius: 3px;
  border: 1px solid rgba(79, 84, 92, 0.3);
}

/* Button that deletes a server */
.deleteServerWrapperInServerList {
  display: none;
  height: 30px;
  width: 30px;
  margin-left: 5px;
  position: relative;
  right: 5px;
  cursor: pointer;
}

.deleteServerIconInServerList {
  height: 30px;
  width: 30px;
}

/* Displays the delete button when the server is hovered */
.serverInServerList:hover .deleteServerWrapperInServerList {
  display: inline-block;
}

/* Displays a tooltop when a server icon is hovered */
.serverIconWrapperInServerList:after {
  content: attr(data-servername);
  position: absolute;
  vertical-align: middle;
  left: 100px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: none;
}

.serverIconWrapperInServerList:hover:after {
  display: inline-block;
}

/* A user in the user list */
.userInUserList {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

/* When hovering over a user in the user list */

/* Change user background color on hover on light theme */
.light .userInUserList:hover {
  background-color: #f0e9e9;
}

/* Change user background color on hover on dark theme */
.dark .userInUserList:hover {
  background-color: #36393f;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}

.message {
  position: relative;
  overflow: hidden;
  overflow-wrap: break-word;
  padding-left: 5px;
}

/* If a message has the mention class, highlight it */

.message.mention {
  background-color: rgba(250, 166, 26, 0.05);
}

.message.mention:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 2px;
  background-color: #faa61a;
}

/* Show the delete button when a message is hovered */
.message:hover .deleteMessageButton {
  display: inline-block;
}

/* Change message background color on hover on light theme */
.light .message:hover {
  background-color: #f0e9e9;
}

/* Change message background color on hover on dark theme */
.dark .message:hover {
  background-color: #2f3136;
}

/* Containing span for a profile picture */
.profilePicture {
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}

/* Profile picture icon */
.profilePictureIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Body of a message */
.messageBody {
  overflow: auto;
  word-break: break-word;
  max-height: 10em;
}

.messageBody p {
  display: inline;
}

.message .username {
  overflow: hidden;
  font-weight: 700;
  padding-right: 5px;
  text-align: right;
}

.message.special .userBadge {
  display: inline-block;
  background-color: #7289da;
  color: #fff;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 0.65em;
  line-height: 80%;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  letter-spacing: 1px;
}

/* Hide everything except delete button and message contents when the previousSameAuthor class is added */
.message.previousSameAuthor .profilePicture, .message.previousSameAuthor .username, .message.special.previousSameAuthor .userBadge, .message.previousSameAuthor .timestamp {
  display: none;
}

.typing {
  color: gray;
  overflow: auto;
}

/* Clickable wrapper for the server list icon */
#serverListIconWrapper {
  width: fit-content;
  height: fit-content;
}

/* The server list icon */
#serverListIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Clickable wrapper for the user list icon */
#userListIconWrapper {
  width: fit-content;
  height: fit-content;
  margin-left: 1%;
}

/* The user list icon */
#userListIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Clickable wrapper for the notification bell */
#notificationBellWrapper {
  width: fit-content;
  height: fit-content;
  margin-left: 1%;
}

/* The notification bell */
#notificationBell {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
}

/* Clickable wrapper for the settings icon */
.settingsIconWrapper {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

/* The settings icon */
.settingsIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#settingsTopBar .container-fluid {
  flex: 1;
}

/* Placeholder for the message box */
#Message-Box:empty:before {
  content: attr(data-placeholder);
  color: gray;
}

/* The emoji button */
#emoji-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 2rem;
  outline: none;
  border: none;
}

/* Any emoji that came from the emoji button */
.emoji {
  height: 1em;
  width: 1em;
}

/* Button that deletes a message */
.deleteMessageButton {
  display: none;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

/* The icon for the delete message button */
.deleteMessageIcon {
  height: 30px;
  width: 30px;
}

/* Timestamp that shows when a message was sent */
.timestamp {
  color: gray;
  font-size: 70%;
  padding-left: 7px;
  padding-right: 7px;
}

#profilePictureUpload {
  display: none;
}

#profilePicturePreview {
  cursor: pointer;
}

#profile-picture-upload-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
}

#profile-picture-upload-container img {
  height: 150px;
  width: 150px;
}

.mention-text {
  cursor: pointer;
  color: #7289da;
  border-radius: 3px;
  background-color: rgba(114,137,218,.1);
}

.mention-text:hover {
  color: #fff;
  background-color: #7289da;
}
