* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body .light, .light, .light #Chat-Screen, .light #settingsScreen, .light #reconnectingScreen, .light #Message-Box, .light #emoji-button, .light #serverListIcon, .light #userListIcon, .light #notificationBell, .light .settingsIcon, .light #Add-Server-Name-Input {
  background-color: #fff;
  color: #212529
}

body .dark, .dark, .dark #Chat-Screen, .dark #settingsScreen, .dark #reconnectingScreen, .dark #Message-Box, .dark #emoji-button, .dark #serverListIcon, .dark #userListIcon, .dark #notificationBell, .dark .settingsIcon, .dark #Add-Server-Name-Input {
  background-color: #36393f;
  color: #fff;
}

.light #Server-List-Area, .light #User-List {
  background-color: #fff;
  color: #212529
}

.dark #Server-List-Area, .dark #User-List {
  background-color: #2f3136;
  color: #fff;
}

/* Themed custom scrollbars */
.lightThemeScrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}
.lightThemeScrollbar::-webkit-scrollbar
{
  width: 12px;
  border-radius: 10px;
  background-color: #fff;
}

.lightThemeScrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}

.darkThemeScrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #555;
}
.darkThemeScrollbar::-webkit-scrollbar
{
  width: 12px;
  border-radius: 10px;
  background-color: #555;
}

.darkThemeScrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #202225;
}

blockquote {
  padding-left: 15px;
  border-left: 4px solid #4f545c;
}
