/* Reconnecting Screen */

#reconnectingScreen {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#reconnectingArea {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reconnectingIcon {
  background-image: url("/assets/Reconnecting.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30%;
  height: 30%;
}
