/* Settings Screen */

#settingsScreen {
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
  color: var(--header-primary);
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
  z-index: 2;
}

#settingsArea {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
}

#settingsTopBar {
  display: flex;
  width: 100%;
}

#settingsTopBarText {
  color: var(--header-primary);
  font-size: 24px;
}

#settingsIconInSettings {
  margin: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#custom-theme-picker {
  display: none;
}

#profilePictureUpload {
  display: none;
}
#profilePicturePreview {
  cursor: pointer;
}
#profile-picture-upload-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 1em;
}
#profile-picture-upload-container img {
  height: 150px;
  width: 150px;
}
