/* Chat Screen */

/* Start with a mobile-first design */
#Chat-Screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  /* Use minmax(0, 1fr) instead of 1fr so that elements can be prevented from overflowing their grid areas. Refer to https://stackoverflow.com/a/52787826/8584806 */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area";
}

#Server-List-Area {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 84%;
  width: 50%;
  left: 0;
  bottom: 0;
  transition: all 0.2s linear 0s;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
  border-right: 3px solid #40444b;
  padding-left: 10px;
  padding-top: 10px;
  --original-state: hidden;
}

#User-List {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 84%;
  width: 50%;
  right: 0;
  bottom: 0;
  transition: all 0.2s linear 0s;
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
  border-left: 3px solid #40444b;
  padding-left: 10px;
  --original-state: hidden;
}

/* Then, now that we have more screen space, take advantage of it */
@media screen and (min-width: 677px) {
  #Chat-Screen {
    display: none;
    width: 100%;
    height: 100%;
    /* Use minmax(0, 1fr) instead of 1fr so that elements can be prevented from overflowing their grid areas. Refer to https://stackoverflow.com/a/52787826/8584806 */
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1px 1px;
    grid-template-areas:
      "Server-List-Area Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area User-List";
  }

  #Server-List-Area {
    grid-area: Server-List-Area;
    display: flex;
    flex-direction: column;
    position: initial;
    height: 100%;
    width: 100%;
    transform: none;
    opacity: 1;
    border-right: 3px solid #40444b;
    padding-left: 10px;
    padding-top: 10px;
    --original-state: shown;
  }

  #User-List {
    grid-area: User-List;
    display: flex;
    flex-direction: column;
    position: initial;
    height: 100%;
    width: 100%;
    transform: none;
    opacity: 1;
    border-left: 3px solid #40444b;
    padding-left: 10px;
    --original-state: shown;
  }
}

#Top-Bar {
  grid-area: Top-Bar;
  display: flex;
  padding: 1%;
}

#Chat-Area {
  grid-area: Chat-Area;
  display: flex;
  height: 100%;
  width: 100%;
}

#Message-Box-Area {
  grid-area: Message-Box-Area;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

#Message-Box {
  height: auto;
  width: 100%;
  min-height: 3em;
  max-height: 80%;
  outline: none;
  font-size: 100%;
  border: 1px solid #40444b;
  padding-left: 10px;
  overflow-y: auto;
  resize: none;
  border-radius: 8px;
  line-height: normal;
}

#User-Is-Typing-Area {
  grid-area: Message-Box-Area;
  display: flex;
  padding-left: 10px;
  font-size: 150%;
}

#userListContents {
  list-style: none;
  padding-left: 0;
}

#messages {
  list-style: none;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  font-size: 150%;
}

/* The server list ul */
#Server-List {
  list-style: none;
  padding-left: 0;
}

/* Selecting the server li's inside the server list ul */
#Server-List li {
  padding-bottom: 1em;
}

/* A server icon of a server in the server list */
.serverIconInServerList {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}

.message {
  overflow: hidden;
  overflow-wrap: break-word;
}

/* Change message background color on hover on light theme */
.light .message:hover {
  background-color: #f0e9e9;
}

/* Change message background color on hover on dark theme */
.dark .message:hover {
  background-color: #2f3136;
}

/* Containing span for a profile picture */
.profilePicture {
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}

/* Profile picture icon */
.profilePictureIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Body of a message */
.messageBody {
  overflow: auto;
  word-break: break-word;
  max-height: 10em;
}

.messageBody p {
  display: inline;
}

.message .username {
  overflow: hidden;
  font-weight: 700;
  padding-right: 5px;
  text-align: right;
}

.message.special .userBadge {
  display: inline-block;
  background-color: #7289da;
  color: #fff;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 0.65em;
  line-height: 80%;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  letter-spacing: 1px;
}

.typing {
  color: gray;
  overflow: auto;
}

/* Clickable wrapper for the server list icon */
#serverListIconWrapper {
  width: fit-content;
  height: fit-content;
}

/* The server list icon */
#serverListIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Clickable wrapper for the user list icon */
#userListIconWrapper {
  width: fit-content;
  height: fit-content;
  margin-left: 1%;
}

/* The user list icon */
#userListIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* The notification bell icon used to turn on notifications for mentions */
#notificationBell {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
}

/* The settigns icon used to go to the settings menu */
#settingsIconInChat {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Placeholder for the message box */
#Message-Box:empty:before {
  content: attr(data-placeholder);
  color: gray;
}

/* The emoji button */
#emoji-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 2rem;
  outline: none;
  border: none;
}

/* Any emoji that came from the emoji button */
.emoji {
  height: 1em;
  width: 1em;
}
