/* Start with a mobile-first design */
#Chat-Screen {
  display: none;
  width: 100vw;
  height: 100vh;
  /* Use minmax(0, 1fr) instead of 1fr so that elements can be prevented from overflowing their grid areas. Refer to https://stackoverflow.com/a/52787826/8584806 */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area"
    "Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area";
}

#Server-List-Area {
  display: none;
  /* transition: all 0.2s linear 0s; */
  z-index: 1;
}

#User-List {
  display: none;
  /* transition: all 0.2s linear 0s; */
  z-index: 1;
}

/* Then, now that we have more screen space, take advantage of it */
@media screen and (min-width: 677px) {
  #Chat-Screen {
    display: none;
    width: 100vw;
    height: 100vh;
    /* Use minmax(0, 1fr) instead of 1fr so that elements can be prevented from overflowing their grid areas. Refer to https://stackoverflow.com/a/52787826/8584806 */
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1px 1px;
    grid-template-areas:
      "Server-List-Area Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
      "Server-List-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area Message-Box-Area User-List";
  }

  #Server-List-Area {
    grid-area: Server-List-Area;
    display: flex;
    flex-direction: column;
  }

  #User-List {
    grid-area: User-List;
    display: flex;
    flex-direction: column;
  }
}

#Top-Bar {
  grid-area: Top-Bar;
  display: flex;
  padding: 1%;
}

#Chat-Area {
  grid-area: Chat-Area;
  display: flex;
  height: 100%;
  width: 100%;
}

#Message-Box-Area {
  grid-area: Message-Box-Area;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

#Message-Box {
  height: auto;
  width: 100%;
  outline: none;
  font-size: 100%;
  border: 1px solid #40444b;
  padding-left: 10px;
  overflow-y: auto;
  resize: none;
  border-radius: 8px;
  max-height: 100%;
}

#User-Is-Typing-Area {
  grid-area: Message-Box-Area;
  display: flex;
  padding-left: 10px;
  font-size: 150%;
}

#userListContents {
  list-style: none;
  padding-left: 0;
}

#messages {
  list-style: none;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  font-size: 150%;
}

#Server-List {
  list-style: none;
  padding-left: 0;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}

.message {
  overflow: auto;
}

.messageBody p {
  display: inline;
}

.typing {
  color: gray;
  overflow: auto;
}

.username {
  font-weight: 700;
  padding-right: 15px;
  text-align: right;
}

#serverListIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#notificationBell {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
}

#settingsIconInChat {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
