#Chat-Screen {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "Server-List Top-Bar Top-Bar Top-Bar Top-Bar Top-Bar User-List"
    "Server-List Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
    "Server-List Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
    "Server-List Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
    "Server-List Chat-Area Chat-Area Chat-Area Chat-Area Chat-Area User-List"
    "Server-List Message-Box Message-Box Message-Box Message-Box Message-Box User-List";
}

#Server-List { grid-area: Server-List; }

#Chat-Area { grid-area: Chat-Area; }

#Message-Box { grid-area: Message-Box; }

#User-List { grid-area: User-List; }

#Top-Bar { grid-area: Top-Bar; }

#Message-Box {
  font-size: 100%;
  height: auto;
  outline: none;
  border: 1px solid #40444b;
  padding-left: 10px;
  overflow-y: auto;
  resize: none;
  border-radius: 8px;
  max-height: 144px;
}

#userListContents {
  list-style: none;
  padding-left: 0;
}

#messages {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  font-size: 150%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}

.message {
  overflow: auto;
}

.typing {
  color: gray;
  overflow: auto;
}

.username {
  font-weight: 700;
  padding-right: 15px;
  text-align: right;
}

#settingsIconInChat {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#notificationBell {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
