/* Login Screen */

#loginScreen {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#loginFormArea {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}

#loginTitle {
  font-size: 200%;
  font-weight: 100;
  color: #fff;
}

#usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  font-size: 200%;
  letter-spacing: 3px;
  font-weight: 100;
  color: #fff;
  max-width: 100%;
}

#passwordInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
  max-width: 100%;
}

#serverInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
  max-width: 100%;
}
